<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">

</head>
<body>
    
    <div class="container-chat">
        <div class="sidebar-container" id="sidebar-container">
            <div class="user-info" id ="user-info">
        
        
            </div>
            <div>
                <div class="group-id"><%= groupchat.id %></div>
                <div class="group-name"><%= groupchat.name %></div>
            </div>

            
        </div>
        <div class="chat-container" id="chat-container"> 
            <div class="chat-messages" id="chat-messages">
                
            </div>
            <form id="chat-input-form" class="chat-input-form">
                <input type="text" class="chat-form" id="content" name="content" required placeholder="Skriv her..." autocomplete="off">
                <button type="submit" class="button send-button">Send</button>
            </form>
        </div>
        <div class="navbar-container">
            <ul id="navbar" class="navbar">

            </ul>
        </div>
            
    </div>


    <script src="/socket.io/socket.io.js"></script>
    <script src="/posts/index.js"></script>
    
</body>
</html>