html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
}

.container-createpost {
    display: grid;
    grid-template-areas:
      "sidebar-container post-input"
      "navbar-container navbar-container";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr min-content;    
    flex-grow: 1;
    overflow: hidden;
}

.container-chat {
    display: grid;
    grid-template-areas:
      "sidebar-container chat-container"
      "navbar-container navbar-container";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr min-content;    
    flex-grow: 1;
    overflow: hidden;
}

.container-posts {
    display: grid;
    grid-template-areas:
      "sidebar-container chat-container"
      "navbar-container navbar-container";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr min-content;    
    flex-grow: 1;
    overflow: hidden;
}

.container-post {
    display: grid;
    grid-template-areas:
      "sidebar-container chat-container"
      "navbar-container navbar-container";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr min-content;    
    flex-grow: 1;
    overflow: hidden;
}

.chat-container {
    grid-area: chat-container;
    background: #383838;
    padding: 1em 1.25em;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    justify-content: space-between; 
    
}
.post-input {
    grid-area: post-input;
    overflow-y: auto;
}
.sidebar-container {
    grid-area: sidebar-container;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.chat-container {
    grid-area: chat-container;
    background: #383838;
    padding: 1em 1.25em;
    display: flex;
    overflow-y: auto;
}

.navbar-container {
    grid-area: navbar-container;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

.button {
    border: none;
    padding: 0.6em;
    border-radius: 0.5em;
    cursor: pointer;
}

.button:active {
    transform: translateY(2px);
}

.chat-messages {
    overflow-y: auto;
    scrollbar-width: none;
    margin-bottom: 0.5em;
    
}

.message {
    padding: 0.625em;
    margin-bottom: 0.625em;
    display: flex;
    flex-direction: column;
    color: #cfcfcf;
}

.message-sender {
    font-weight: bold;
    margin-bottom: 0.25em;
}

.message-text {
    font-size: 1em;
    margin-bottom: 0.31em;
    word-wrap: break-word;
}

.message-timestamp {
    font-size: 0.75em;
    text-align: right;
}

.blue-bg {
    background: #4b4b4b;
}

.gray-bg {
    background: #5e5e5e;
}

.chat-input-form {
    display: flex;
    align-items: center;
}
.post-input-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100%;
}
.chat-form {
    padding: 0.625em;
    border: none;
    background-color: #4b4b4b;
    color: #ffffff;
    font-size: 1em;
    flex-grow: 1;
}
.post-form {
    padding: 0.625em;
    border: none;
    background-color: #4b4b4b;
    color: #ffffff;
    font-size: 1em;
    flex-grow: 1;
}


.send-button {
    background: #1978f5;
    color: white;
    font-size: 1em;
    font-weight: bold;
    border-radius: 0px;
}

.navbarli {
    float: left;
    padding-left: 90px;
}

.navbarli a {
    display: block;
    color: #cfcfcf;
    text-align: center;
    text-decoration: none; 
    font-weight: bold;
}

.navbarli a:hover {
    background-color: #111;
}

.navbar {
    list-style-type: none;
    overflow: hidden;
    background-color: #242424;
    font-size: 15px;
    padding: 20px;
    margin: 0;
}

.post-container {
    grid-area: chat-container;
    background: #383838;
    padding: 1em 1.25em;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    justify-content: space-between;
    color: #cfcfcf;

}

.post-posts {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 0.5em;
    scrollbar-width: none;
    
}

.post {
    padding: 0.625em;
    padding-bottom: 2.625em;
    border-radius: 1em;
    margin-bottom: 0.625em;
    display: flex;
    flex-direction: column;
    background: #4b4b4b;
    color: #cfcfcf;
}

.post:hover {
    background: #5e5e5e;;
}

.post-sender {
    font-weight: bold;
    margin-bottom: 0.25em;
}

.post-text {
    font-size: 1em;
    margin-bottom: 0.31em;
    word-wrap: break-word;
}

.post-timestamp {
    font-size: 0.75em;
    text-align: right;
}












