

html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-grow: 1;
}


::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

.button {
    border: none;
    padding: 0.6em;
    border-radius: 0.5em;
    cursor: pointer;

}

.button:active {
    transform: translateY(2px);
}

.chat-container {

    background: #383838;
    font-family: 'Roboto', sans-serif;
    padding: 1em 1.25em;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  

}


.chat-messages {
    flex-grow: 1;
    overflow-y: scroll;
    scrollbar-width: none;
    margin-bottom: 0.5em;
}


.message {
    padding: 0.625em;
    margin-bottom: 0.625em;
    display: flex;
    flex-direction: column;
    color: #cfcfcf;
    
}

.message-sender {
    font-weight: bold;
    margin-bottom: 0.25em;
}

.message-text {
    font-size: 1em;
    margin-bottom: 0.31em;
    word-wrap: break-word;
}

.message-timestamp {
    font-size: 0.75em;
    text-align: right;
}

.blue-bg {
    background: #4b4b4b;
}
.gray-bg {
    background: #f0f0f0;
}

.chat-input-form {
    display: flex;
    align-items: center;

}
.chat-input {
    padding: 0.625em;
    border: none;
    background-color: #4b4b4b;
    color: #ffffff;
    font-size: 1em;
    flex-grow: 1;
}


.send-button {
    background: #1978f5;
    color: white;
    font-size: 1em;
    font-weight: bold;
    border-radius: 0px;
    

}



.navbarli {
    float: left;
    padding-left: 90px;
}

.navbarli a {
    display: block;
    color:#cfcfcf;
    text-align: center;
    text-decoration: none; 
    font-weight: bold;
}

.navbarli a:hover {
    background-color: #111;
}

.navbar {
    list-style-type: none;
    overflow: hidden;
    background-color: #242424;
    font-size: 15px;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.post-container {

    background: #5d5d5d;
    font-family: 'Roboto', sans-serif;
    border-radius: 0.5em;
    padding: 0.5em 1.25em;
    margin: auto;
    max-width: 37.5em;
    height: 37.5em;
    box-shadow: 0 0 1.25em 0.5em rgba(0, 0, 0, 0.1);
    padding-top: 1.5em; 

}


.post-posts {
    height: 37em;
    overflow-y: scroll;
    margin-bottom: 0.5em;
    scrollbar-width: none;
}

.post {
    padding: 0.625em;
    padding-bottom: 2.625em;
    border-radius: 1em;
    margin-bottom: 0.625em;
    display: flex;
    flex-direction: column;
    background: #f0f0f0;

    
}

.post:hover {
    background: #e2e2e2;
}
.post-sender {
    font-weight: bold;
    margin-bottom: 0.25em;
}

.post-text {
    font-size: 1em;
    margin-bottom: 0.31em;
    word-wrap: break-word;
    
}

.post-timestamp {
    font-size: 0.75em;
    text-align: right;
    color: #220e0e;
    
}

